@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 3px;
    background-color: #142850;
}

:root{
    --mainColor: #142850;
    --mainColorLight:#27496D;
    --secondaryColor: #00909E;
    --textColor: #DAE1E7;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 2rem;
    background-color: var(--mainColor);
    color: var(--textColor);
}

nav{
    text-align: center;
}

nav a {
    margin: 0 2rem;
    color: var(--textColor);
    text-decoration: none;
}

nav a:hover{
    color: var(--secondaryColor);
}

header img{
    height: 35px;
    width: 150px;
}

.content{
    position: relative;
    left: 100px;
    padding-top: 7rem;
    color: var(--textColor);
    height: 100vh;
}

.content img{
    position: absolute;
    right: 16rem;
    top: 5rem;
}

.para1, .para2{
    font-size: 20px ;
    padding: 10px 10px;
}

h1{
    font-size: 75px;
    font-weight: 100px;
}

.Bookstore{
    width: 200px;
    height: 200px;
    position: absolute;
    right: 200px;
    top: 45%;
}

.bookImage, .bookPara{
    position: relative;
    padding: 3rem;
    padding-top: 5rem;  
}

.bookPara{
    padding-top: 6rem;
    align-items: left;
}

.bookImage img{
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.bookPara p{
    color: var(--textColor);
    font-family: 'Open Sans Condensed';
    font-weight: bold;
    font-size: 1.3rem;
    text-align: left;
    line-height: 2rem; 
    letter-spacing: 0.16rem;
}

.learnMore{
    color: var(--secondaryColor);
    text-decoration: none;
    padding-top: 0.5rem;
}

.bookPara h1{
    position: absolute;
    opacity: 0.2;
    right: 1rem;
    font-size: 4.5rem;
    color: #00909E;
}

.bookPgimg img{
    padding-top: 2.5rem;
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.bookPg h1{
    position: absolute;
    opacity: 0.1;
    left: 1rem;
    font-size: 4.5rem;
    color: #00909E;
}

.title{
    font-weight: 2px;
    font-size: 3rem;
    letter-spacing: 0.3rem;
    padding-top: 4rem;
    color: var(--textColor);
}

.author{
    font-style: italic;
    font-weight: lighter;
    font-size: 1.5rem;
    color: var(--secondaryColor);
}

.author span{
    color: #fc7100;
}